.x-titlebar{background:url("./img/nav_bg.png");}
.shopimg{width:75px;height:75px;}
.title{color:#FFFFFF;margin:0;font-size:16px;margin-left:10px;}
.star{width:12px;height:12px;}
.x-row{margin:0;padding:0;}
span{color:#FFFFFF;font-size:13px;}
.servicetitle{letter-spacing:1px;}
.score{width:22px;height:22px;margin-right:16px;}