.x-panel{background:#252330;height:100%;width:100%;}
.list-group{position:absolute;top:22%;}
.list-group-item{border:none;background:#252330;}
.okbutton{
	color:#FFFFFF;
	width:280px;
	height:45px;
	background:url("./img/btn_denglu.png");
	background-size:280px 45px;;
	font-size:16px;
}
.input-group{width:80%;margin-left:auto;margin-right:auto;}
.input-group-addon{color:#FFFFFF;background:transparent;border-style:none;font-size:17px;}
.findpwdtitle{color:#FFFFFF;margin-left:28px;letter-spacing:2px;margin-top:0;}

.btnyzm{width:80px;height:30px;float:right;background-color:transparent;float:right;float:right;padding:5px 3px 5px 3px;border:1px solid #FFFFFF;}
.btnyzm:hover{background-color:transparent;border:1 solid #FFFFFF;}
.input-group{width:90%;}
input:focus{outline:none;box-shadow:none;}
.phoneinput,.yzminput,.pwdinputfirst,.pwdinputsecond{font-size:15px;background:transparent;border-style:none;color:#FFFFFF;}