.pinjiadiv{width:100%;height:45%;position:absolute;bottom:0px;background:#2B2B38;border-radius:15px;padding:24px 10px 73px 10px;}
.x-titlebar{background:url("./img/nav_bg.png");}
.x-panel-content{background:#252330;}
.divtop{width:97%;height:25%;background:#2B2B38;border-radius:5px;margin:10px auto;padding:16px 11px 16px 11px;}
.title{margin:0;color:#FFFFFF;font-size:17px;}
.touxiang{width:22px;height:22px;border-radius:50%;margin-right:4px;}
.marks{width:23px;height:23px;margin-right:16px;}
.star{width:12px;height:12px;}
.shopimg{border-radius:5px;}
