
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>心星科技门店活动管理系统</title>
  <link rel="icon" href="/b4huodong-web/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_1199414_htob6kpk9h.css" type="text/css" />
  <!-- <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.14&key=ba21ca58ff9385fea8a55f3539e46414"></script> -->
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<!-- <script src="//unpkg.com/vod-js-sdk-v6"></script> -->
</head>

<body>
  <div id="root"></div>
  <script>
  //在页面未加载完毕之前显示的loading Html自定义内容

        //var _LoadingHtml = '页面加载中，请等待...';
        var _LoadingHtml = '<div id="loadingDiv" style="text-align: center; position: absolute;top:0; left:0;right:0;bottom:0;"><image width="200px"  src="http://web.mingnengtech.com/time.gif"></image><br><span>正在加载系统，请稍后</span></div>';
        //呈现loading效果

        document.write(_LoadingHtml);

        //监听加载状态改变
        document.onreadystatechange = completeLoading;

        //加载状态为complete时移除loading效果
        function completeLoading() {
            if (document.readyState == "complete") {
                var loadingMask = document.getElementById('loadingDiv');
                loadingMask.parentNode.removeChild(loadingMask);
            }
        }
  </script>
</body>

</html>
