.x-titlebar
{
	background-color:#FFFFFF;
	color:#000000;
}
.panel {
	background: #FFFFFF;
	border:0;	
	padding:0;margin:0;margin-bottom:10%;
}
.x-titlebar .x-titlebar-title
{
	font-weight:normal;
}
.panel.panel-default {
	margin-bottom: 10px;
	margin-top:10px;
}
button
{
	height:44px;
	line-height:38px;
	width:100%;
	font-size:16px;
}
button:active
{
	opacity:0.5;
}
.form-control {
	border: 0;
	border-radius: 0;
	color: #999;
	border-bottom:1px solid #e5e5e5;
}
.form-control:focus {
	box-shadow: none;	
	border-bottom:1px solid #e5e5e5;
}
.CodeRow
{
	border:0;
	height:46px;
	padding:0;
	margin:0;
	margin-bottom:20px;;padding-right:10%;padding-left:12%;
}
.CodeRow .x-col
{
	padding:0;
	margin:0;
}
.newpassword
{
}
.resetPassword
{
	padding:0px 10px;
}
.resetPassword .btnResetPassword
{
	background:#48c997;
	border-radius:6px;
	border:0;
	color:#FFFFFF;
	height:44px;
	line-height:30px;
	width:100%;
	font-size:16px;
}
.window,.x-panel,.panel,.x-panel-content
{
	background-color:#fff;
}
.updatePassword .btnUpdatePassword:active
{
	opacity:0.5;
}
.btnSendSms
{
	background:#139462;
	border-radius:10px;
	border:0;
	color:#FFFFFF;
}
.btnSendSms:active
{
	opacity:0.5;
}
.btnback{
	color:#1ca670;
}
.acc-login{
	padding-left:10%;padding-right:10%;
}
.btnlogin{
	border:#48c997;border:0;letter-spacing:5px;font-size:20px;border-radius:49px;background-color:#48c997;color:#fff;
}
.bannerimg{
	padding-top:5%;margin:0;width:100%;padding-right:20%;;padding-left:20%;
}
.loginInfo{
	height:25%;padding-left:10%;padding-right:10px;
}
.phonerow{
	margin-bottom:20px;margin-top:15%;padding-right:10%;padding-left:3%;
}
.pwdrow{
	border:0;padding-right:10%;padding-left:3%;
}
.msginput{
	margin-left:5px£»
}
.phoneimg{
	width:15px;height:25px;
}
.pwdimg{
	width:15px;height:22px;
}