#xx_creat_hd{
	height: 30px; text-align: center; color:#707070;  line-height: 30px; border-radius: 5px;  margin-top: 50px;
}
#xx_creat_hd b{
	background: #029D52;color: #FFFFFF;padding: 6px 9px;border-radius: 15px;
}
